<div class="admin-container">
    <h1>Bienvenido Administrador</h1>

    <div class="admin-buttons">
        <button onclick="window.location.href='/admin/usuariosAdmin'" class="admin-button">Usuarios</button>
        <button onclick="window.location.href='/admin/arbitrosAdmin'" class="admin-button">Árbitros</button>
        <button onclick="window.location.href='/admin/competiciones'" class="admin-button">Competiciones</button>
        <button onclick="window.location.href='/admin/noticias'" class="admin-button">Noticias</button>
        <button onclick="window.location.href='/admin/chat'" class="admin-button">Chat</button>
    </div>
</div>