<div class="auth-container">
    <div class="card">
        <h2>Inicia sesión</h2>

        <div class="input-group">
            <label>Usuario</label>
            <input type="text" placeholder="Usuario" [(ngModel)]="username" />
        </div>

        <div class="input-group">
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" [(ngModel)]="password" />
        </div>

        <button class="btn" (click)="login()">Entrar</button>

        <a class="link" href="/registro">¿No tienes cuenta? Regístrate</a>
    </div>
</div>
